extends layout

block content
  h1 Radio Station Info API
  p Tüm dünya ülkeleri için Diyanet İşleri Başkanlığı'nın yıllık ezan vakitleri.

  h2 Kullanım
  ul
    li Radyo Listesi: 
        code
          a(href="/stationinfo") /stationinfo

  p.footer made with ♥ by 
            a(href='http://github.com/RiseToDev751',target='_blank') RiseToDev
